* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

 body {
    height: 100vh;
    background-color: #f9f4ec;
}

#navbar{
    background-color: #fff;
    height: 64px;
}