* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

 body {
    height: 100vh;
    background-color: #f9f4ec;
}

#navbar{
    background-color: #e2a137;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#navbar .fa-regular{
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#navbar .navbar-form{
    background-color: #fff;
    height: 40px;
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border:none;
}

.navbar-form .from-input{
    border: none;
}

.navbar-form .fa-solid{
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}